﻿@inject FAP.Config.IAppSettings AppSettings
@model FAP.DTOs.ProviderDTO
@{
    ViewData["Title"] = "Physician Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/profile.css" />
}
@section Scripts {
    <!-- Reference to the Bing Maps SDK -->
    <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=getMap&key=@AppSettings.MapApiKey" async defer></script>

    <script type="text/javascript">
        //invoked by the callback specified in script tag's src
        function getMap() {
            var map = new Microsoft.Maps.Map('#map', {
                center: new Microsoft.Maps.Location(@Model.Lat, @Model.Lng)
            });

            var center = map.getCenter();

            //Create custom Pushpin
            var pin = new Microsoft.Maps.Pushpin(center, {
                icon: '@Url.Content("~/img/map-push-pin.png")',
                anchor: new Microsoft.Maps.Point(12, 39)
            });

            //Add the pushpin to the map
            map.entities.push(pin);
        }

        $('.tabs-nav a').on('click', function (event) {
            event.preventDefault();

            $('.tab-active').removeClass('tab-active');
            $(this).parent().addClass('tab-active');
            $('.tabs-stage > div').hide();
            $($(this).attr('href')).show();
        });

        $('.tabs-nav a:first').trigger('click'); // Default
    </script>
}

<div class="bodyContent">

    <div class="backLink">
        ⇦ <a id="back" href="~/">Back to search</a>
    </div>

    <div class="profile">
        <div class="overview">
            @*<div class="providerName">@Model.FormattedCommonName</div>*@
            <div class="providerName">@Model.FullName</div>

            @*@if (Model.IsBpp == true)*@
            @if (Model.IsBPP == true)
            {
                <img class="bppLogo" src="~/img/BPP_logo.jpg">
            }

            @if (Model.Specialties != null && Model.Specialties.Count > 0)
            {
                <div class="specialties">
                    <label>Specialties: </label>
                    @(string.Join(", ", Model.Specialties.Select(s => s.Text).ToList()))
                </div>
            } 
            <div class="primarySpecialty"><label>Primary Specialty: </label>@Model.FormattedJobTitle</div>
            @*<div class="primarySpecialty"><label>Primary Specialty: </label>@Model.PrimarySpecialty</div>*@

            <div class="contact">
                <div class="photo">
                    @*<img src="@Model.DoctorImage" onerror="if (this.src != '../img/nophoto.jpg') this.src = '../img/nophoto.jpg';">*@
                    <img runat="server" class="img-responsive" src="@Model.DoctorImage" onerror="this.src='../img/nophoto.jpg'">
                    @*<img src="@Model.PhotoUrl" onerror="if (this.src != '~/img/nophoto.jpg') this.src = '~/img/nophoto.jpg';">*@
                </div>

                <div class="contactDetails">
                    <label class="practiceLabel">Legal Practice:</label>
                    <div class="practice">
                        @Model.LegalPracticeName
                    </div>
                    <div class="address">
                        @Model.Address1
                        @if (Model.Address2 != null && Model.Address2.Trim().Length > 0)
                        {
                            <br />
                            @Model.Address2
                        }
                        @if (Model.Address3 != null && Model.Address3.Trim().Length > 0)
                        {
                            <br />
                            @Model.Address3
                        }
                        <br />
                        @Model.FullAddressLine2
                    </div>
                    <div class="numbers">
                        @if (Model.Phone1 != null && Model.Phone1.Trim().Length >= 10)
                        {
                            <span class="phone"><label>Phone:</label> @Model.Phone1</span>
                        }
                        @if (Model.Fax != null && Model.Fax.Trim().Length >= 10)
                        {
                            <br />
                            <span class="fax"><label style="padding-right: 5% !important;">Fax:</label> @Model.Fax</span>
                        }
                    </div>
                    @*<p>Accepting New Patients: @(Model.IsAcceptingNewPatients == true ? "Yes" : "No")</p>*@
                </div>
            </div>
        </div>
        <div class="mapOuter">
            <div class="mapInner">
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>

    <div class="tabContainer">
        <!-- Tabs With Tab Names -->
        <ul class="tabs-nav">
            <li class="tab-active">
                <a href="#tab-1" rel="nofollow">
                    <span>Overview</span>
                </a>
            </li>

            <li class="">
                <a href="#tab-2" rel="nofollow">
                    <span>Locations</span>
                </a>
            </li>

            @*<li class="">
                    <a href="#tab-3" rel="nofollow">
                        <span>Insurance</span>
                    </a>
                </li>*@
        </ul>


        <!-- Tab Content -->
        <div class="tabs-stage">
            <div id="tab-1" class="column-layout max-3" style="display: block;">

                <div class="profileList">
                    <h4>Specialties</h4>
                    @if (Model.Specialties == null || Model.Specialties.Count == 0)
                    {
                        <span class="no-data">No data available</span>
                    }
                    else
                    {
                        <ul>
                            @foreach (var specialty in Model.Specialties)
                            {
                                <li>
                                    @specialty.Text
                                </li>
                            }
                        </ul>
                    }
                </div>

                <div class="profileList">
                    <h4>Hospital Affiliation</h4>
                    @if (Model.Hospitals == null || Model.Hospitals.Count == 0)
                    {
                        <span class="no-data">No data available</span>
                    }
                    else
                    {
                        <ul>
                            @foreach (var hospital in Model.Hospitals)
                            {
                                <li>
                                    @hospital.Text
                                </li>
                            }
                        </ul>
                    }
                </div>

                <div class="profileList">
                    <h4>Ages Treated</h4>
                    @if (Model.AgesTreated == null | Model.AgesTreated.Count == 0)
                    {
                        <span class="no-data">No data available</span>
                    }
                    else
                    {
                        <ul>
                            @foreach (var age in Model.AgesTreated)
                            {
                                <li>
                                    @age
                                </li>
                            }
                        </ul>
                    }
                </div>

                <div class="profileList">
                    <h4>Languages</h4>
                    @if (Model.Languages == null || Model.Languages.Count == 0)
                    {
                        <span class="no-data">No data available</span>
                    }
                    else
                    {
                        <ul>
                            @foreach (var language in Model.Languages)
                            {
                                <li>
                                    @language.Text
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>


            <div id="tab-2" style="display: none;">
                <div class="profileList">
                    <div class="column-layout max-3">
                        @if (Model.Addresses == null || Model.Addresses.Count == 0)
                        {
                            <span class="no-data">No data available</span>
                        }
                        else
                        {
                            @foreach (var a in Model.Addresses)
                            {
                                <div>
                                    @a.Address1
                                    @if (a.Address2 != null && a.Address2.Trim().Length > 0)
                                    {
                                        <br />
                                        @a.Address2
                                    }

                                    @if (a.Address3 != null && a.Address3.Trim().Length > 0)
                                    {
                                        <br />
                                        @a.Address3
                                    }

                                    <br />
                                    @a.FullAddressLine2

                                    @if (a.Phone1 != null && a.Phone1.Trim().Length >= 10)
                                    {
                                        <br />
                                        <span style="font-weight:bold">Phone: </span>@a.Phone1
                                    }
                                    else
                                    {
                                        <br/>
                                        <span style="font-weight: bold">Phone: </span>@a.MainPhone
                                    }

                                    @if (a.Fax != null && a.Fax.Trim().Length >= 10)
                                    {
                                        <br />
                                        <span style="font-weight:bold">Fax: </span>@a.Fax
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            @*<div id="tab-3" class="column-layout max-3" style="display: none;">*@

            <!-- Commercial -->
            @*<div class="profileList">
                    <h4>Commercial</h4>
                    @if (Model.CommercialInsurance == null || Model.CommercialInsurance.Count == 0)
                    {
                        <span class="no-data">No data available</span>
                    }
                    else
                    {
                        <ul>
                            @foreach (var ig in Model.CommercialInsurance)
                            {
                                <li>@ig.Text</li>
                            }
                        </ul>
                    }
                </div>*@

            <!-- Medicare -->
            @*<div class="profileList">
                    <h4>Medicare</h4>
                    @if (Model.MedicareInsurance == null || Model.MedicareInsurance.Count == 0)
                    {
                        <span class="no-data">No data available</span>
                    }
                    else
                    {
                        <ul>
                            @foreach (var ig in Model.MedicareInsurance)
                            {
                                <li>@ig.Text</li>
                            }
                        </ul>
                    }
                </div>*@

            <!-- Medicaid -->
            @*<div class="profileList">
                    <h4>Medicaid</h4>
                    @if (Model.MedicaidInsurance == null || Model.MedicaidInsurance.Count == 0)
                    {
                        <span class="no-data">No data available</span>
                    }
                    else
                    {
                        <ul>
                            @foreach (var ig in Model.MedicaidInsurance)
                            {
                                <li>@ig.Text</li>
                            }
                        </ul>
                    }
                </div>*@

            <!-- Workers Compensation -->
            @*<div class="profileList">
                    <h4>Workers Compensation</h4>
                    @if (Model.WorkersCompInsurance == null || Model.WorkersCompInsurance.Count == 0)
                    {
                        <span class="no-data">No data available</span>
                    }
                    else
                    {
                        <ul>
                            @foreach (var ig in Model.WorkersCompInsurance)
                            {
                                <li>@ig.Text</li>
                            }
                        </ul>
                    }
                </div>*@

            <!-- Other -->
            @*<div class="profileList">
                    <h4>Other</h4>
                    @if (Model.OtherInsurance == null || Model.OtherInsurance.Count == 0)
                    {
                        <span class="no-data">No data available</span>
                    }
                    else
                    {
                        <ul>
                            @foreach (var ig in Model.OtherInsurance)
                            {
                                <li>@ig.Text</li>
                            }
                        </ul>
                    }
                </div>*@

            @*</div>*@
        </div>
    </div>


    <div class="backLink">
        ⇦ <a href="~/">Back to search</a>
    </div>
</div>
