﻿@model FAP.DTOs.ProviderQueryResultDTO

<input type="hidden" id="totalProviderCount" value="@Model.TotalCount" />
<table id="rPhysicianSearch" cellspacing="0" style="border-collapse:collapse;width: 100%">
    <tbody>
        @foreach (var p in Model.Providers)
        {
            <tr id="physicianRow">
                <td>
                    <div style="width: 100%; border-bottom: 1px solid gray">
                        <div class="searchResult1">
                            <strong>@p.SearchIndex</strong>
                        </div>
                        <div class="searchResult2">
                            <h5><a id="providerName" href="~/profiles/@p.Id">@p.FullName</a></h5>
                            <h6>
                                <p>@p?.FormattedJobTitle</p>
                            </h6>
                            <br>
                            @if (!Model.IsPreferred && p.IsBPP == true)
                            {
                                <img id="bppLogo" src="~/img/BPP_logo.jpg">
                            }
                            <span>
                                <p>@p.Phone1</p>
                            </span>
                        </div>
                        <div class="searchResult3">
                            <strong>@p.LegalPracticeName</strong>
                            <p>@p.FullAddressLine1</p>
                            <p>@p.FullAddressLine2</p>

                            @*<span>@p.SearchDistance Miles from @p.SearchFromCity @p.SearchFromState</span>*@
                        </div>
                        <div class="searchResult4">
                            <span class="gender" style="font-weight:bold">@p.Gender</span>
                            <p class="languages">@p.LanguageListText</p>
                            <span class="view-profiles">
                                <a id="fullProfileLink" href="~/profiles/@p.Id">View Full Profile</a>
                                <a id="profileLink" href="~/profiles/@p.Id">Profile</a>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>