﻿@model FAP.DTOs.ProviderSearchDataDTO
@{
    ViewData["Title"] = "Find a Physician";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="~/js/home.js?v=2" asp-append-version="true"></script>
}

<div>
    <div class="bodyContent">

        <h2 style="padding:5px">Search: Doctors</h2>
        <p>&nbsp;</p>
        <div class="contentImage">Baptist Locations</div>
        <div class="content">
            <h3>Physician Search</h3>

            <p>To view information about Physicians and Providers, use the selection criteria below. The detailed information (contact information, specialties, office locations, languages, and hospital affiliations) is updated by the Medical Affairs department. </p>
            <p>The Baptist Physician Partners logo indicates the provider participates in our clinically integrated hospital-physician network. The network facilitates interdisciplinary care through collaboration and use of integrated technology.</p>
            <p>Please select either a last name (either the full name or partial name) or select a specialty from the list. Specialties for children are listed in the Pediatric section of the specialty list below.</p>

            <p class="privPortal">If you need to verify practitioner privileges please view the <a href="@ViewBag.PrivilegePortalURL" target="_blank"><font color="#0072bc"> Privilege Portal</font></a>.</p>
            <p class="privPortal">To check Pediatric Resident/Fellow privilege levels for procedures, <a href="@ViewBag.PediatricResidentFellowPrivilegeURL" target="_blank"><font color="#0072bc"> Click Here</font></a>.</p>
        </div>
        <div class="clear"></div>

        <div class="searchContainer">
            <div class="searchContent">

                <!-- TODO: Create SearchControls Component -->
                <div class="searchControls">
                    <div class="searchOptions">
                        <strong style="color: #0157ab">Search By Name</strong>
                        <input class="form-control" type="text" id="lastName" name="lastName">
                        <hr>
                        <div class="advancedContainer"></div>

                        <div id="pSearchOptions">

                            <strong style="padding-bottom: 5px;color: #0157ab">Search by:</strong>
                            <span><input id="searchBySpecialty" name="searchBySpecialty" type="checkbox" onclick="showHideSpecialties()"></span>
                            <b><label class="stdLabel" for="searchBySpecialty">Doctor's Specialty</label></b>

                            <span id="vSpecialty" style="color:Red;float:right;display:none;">Select One</span>

                            <div id="specialtyPanel" style="display:none">
                                <div class="docSpecialtyFields">
                                    <table>
                                        <tbody>
                                            @foreach (var s in Model.Specialties.OrderBy(x => x.Text))
                                            {
                                                <tr>
                                                    <td>
                                                        <input id="specialty-@s.Text" type="checkbox" value="@s.Text" class="cbSpecialty">
                                                    </td>
                                                    <td>
                                                        <label for="specialty-@s.Text">@s.Text</label>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <span>
                                    <input type="button" id="selectAllSpecialties" value="Select All" onclick="toggleAllSpecialties(true)">
                                    <input type="button" id="deselectAllSpecialties" value="Deselect All" onclick="toggleAllSpecialties(false)">
                                </span>
                            </div>

                            <br>

                            <input id="searchByLanguage" name="searchByLanguage" type="checkbox" onclick="showHideLanguages()">
                            <b><label class="stdLabel" for="searchByLanguage">Language</label></b>
                            <span id="vLanguage" style="color:Red;float:right;display:none;">Select One</span>

                            <div id="languagePanel" style="display:none">
                                <div class="docLanguageFields">
                                    <table>
                                        <tbody>
                                            @foreach (var l in Model.Languages)
                                            {
                                                <tr>
                                                    <td>
                                                        <input id="language-@l.Text" type="checkbox" value="@l.Text" class="cbLanguage">
                                                    </td>
                                                    <td>
                                                        <label for="language-@l.Text">@l.Text</label>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <span>
                                    <input type="button" id="selectAllLanguages" value="Select All" onclick="toggleAllLanguages(true)">
                                    <input type="button" id="deselectAllLanguages" value="Deselect All" onclick="toggleAllLanguages(false)">
                                </span>
                            </div>

                            <hr>

                            <input id="isBPP" name="isBPP" type="checkbox" />
                            <b><label class="stdLabel" for="isBPP">Baptist Physician Partners</label></b>

                            <hr>

                            <strong class="genderTitle" style="color: #0157ab">Gender:</strong>
                            <table id="GenderRdBtnList" style="width: 150px">
                                <tbody>
                                    <tr>
                                        <td><input id="genderMale" name="gender" type="radio" value="M"><label for="genderMale" class="genderLabel">Male</label></td>
                                        <td><input id="genderFemale" name="gender" type="radio" value="F"><label for="genderFemale" class="genderLabel">Female</label></td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr>
                            <strong style="padding-bottom: 10px;color: #0157ab">By Distance:</strong>

                            <div class="zipContainer">
                                <strong><label for="zipCode">Zip Code</label></strong>
                                @*<input type="text" id="zipCode" name="zipCode" style="width: 80px; height: 12px">*@
                                <input class="form-control" type="text" id="zipCode" name="zipCode">
                            </div>

                            <div class="searchWithinContainer">
                                <strong><label for="searchWithin">Search Within</label></strong>
                                <select class="form-control" id="searchDistance" name="searchDistance" style="font-size: 0.9rem !important;">
                                    <option value="5">5 Miles</option>
                                    <option value="10">10 Miles</option>
                                    <option value="15">15 Miles</option>
                                    <option value="20">20 Miles</option>
                                    <option value="25">25 Miles</option>
                                    <option value="50">50 Miles</option>
                                    <option value="75">75 Miles</option>
                                </select>
                            </div>
                        </div>

                        <div class="clear"></div>

                        @*<p style="color: red !important">If there are no providers associated with any specific zipcode, the search will default to 32207.</p>*@

                        <button id="btnSearch" class="findPhysicianSubmit" onclick="submitForm(true)">Find Practitioner</button>
                        <button id="btnResetFilters" class="resetFilterSubmit" onclick="resetFilters()">Reset Search Filters</button>

                        <div class="clinicalstaff">
                            <p>
                                Clinical Staff:
                            </p>
                            <p>
                                Verify practitioner privileges via the <a href="@ViewBag.PrivilegePortalURL" target="_blank"><font color="#0072bc"> Privilege Portal</font></a>
                            </p>
                            <hr />
                            <p>
                                <a href="https://bmcjax.app.telmediq.com/signin/" target="_blank">On-Call Schedules</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="searchResultsGap"></div>

                <div class="searchResults" id="searchResultsList">

                    @foreach (var h in Model.Hospitals)
                    {
                        <div class="hospitalFilter">
                            <input id="hospital-@h.Code" name="hospital-@h.Code" type="checkbox" onclick="submitForm(true)" value="@h.Code" class="cbHospital"><label for="hospital-@h.Code">@h.Abbrev</label>
                        </div>
                    }

                    <div class="searchResultsList">

                        <div class="searchResultsFeatures">
                            <span class="resultsValues">
                                <span id="pagerSummaryInHeader">1 - 10 out of 10</span>
                            </span>
                            <span class="resultsPerPage">
                                <label>Page Size:</label>
                                <select onchange="changePageCount(this.value)" id="resultsPerPageInHeader">
                                    <option selected="selected" value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="75">75</option>
                                    <option value="100">100</option>
                                </select>
                            </span>
                            <span class="resultsSortBy">
                                Sort:
                                <select id="sortInHeader" onchange="changeSort()">
                                    <option value="name">Name</option>
                                    <option value="distance">Distance</option>
                                </select>
                            </span>
                            <div class="resultsPageNumber">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td align="right">
                                                <a id="pagerPreviousInHeader" class="prev" href="javascript:moveToPreviousPage()" style="display: none"></a>
                                            </td>
                                            <td align="center" valign="middle">
                                                <table id="dlPageNumbers" cellspacing="0" style="border-collapse: collapse;">
                                                    <tbody>
                                                        <tr id="pagerInHeader" name="pagerInHeader">

                                                            @for (int pageNumber = 1; pageNumber <= 10; pageNumber++)
                                                            {
                                                                <td>
                                                                    <a href="javascript:changePageNumber(@pageNumber)">@pageNumber</a>
                                                                </td>
                                                            }
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td align="left">
                                                <a id="pagerNextInHeader" class="next" href="javascript:moveToNextPage()">Next</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="searchResultItem" style="width: 100%">
                            <div id="pSearch" style="width: 100%">
                                <div id="providerList">
                                    @await Html.PartialAsync("_ProviderList", @Model.QueryResult)
                                </div>

                                <div class="clear"></div>

                                <div class="searchResultsFeatures">
                                    <span class="resultsValues">
                                        <span id="pagerSummaryInFooter">1 - 10 out of 10</span>
                                    </span>
                                    <span class="resultsPerPage">
                                        <label>Page Size:</label>
                                        <select onchange="changePageCount(this.value)" id="resultsPerPageInFooter">
                                            <option selected="selected" value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="75">75</option>
                                            <option value="100">100</option>
                                        </select>
                                    </span>
                                    <span class="resultsSortBy">
                                        Sort:
                                        <select id="sortInFooter" onchange="changeSort()">
                                            <option value="name">Name</option>
                                            <option value="distance">Distance</option>
                                        </select>
                                    </span>
                                    <div class="resultsPageNumber">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td align="right">
                                                        <a id="pagerPreviousInFooter" class="prev" href="javascript:moveToPreviousPage()" style="display: none"></a>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <table cellspacing="0" style="border-collapse: collapse;">
                                                            <tbody>
                                                                <tr id="pagerInFooter" name="pagerInFooter">
                                                                    @for (int pageNumber = 1; pageNumber <= 10; pageNumber++)
                                                                    {
                                                                        <td>
                                                                            <a href="javascript:changePageNumber(@pageNumber)">@pageNumber</a>
                                                                        </td>
                                                                    }
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td align="left">
                                                        <a id="pagerNextInFooter" class="next" href="javascript:moveToNextPage();">Next</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            <div class="clear"></div>
            </div>
        </div>
    </div>
</div>