/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c9d2da;
    margin: 10px 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

/*
 * Allow only vertical resizing of textareas.
 */

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

/*
 * Hide visually and from screenreaders, but maintain layout
 */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        /*
     * Don't show links for images, or javascript/internal links
     */


        a[href^="javascript:"]:after,
        a[href^="#"]:after {
            content: "";
        }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/* CUSTOM CSS */
* {
    font-family: Arial !important;
}

.headerDefault, .bodyContent, .searchContainer {
    width: 1080px;
    margin: 0 auto;
    display: block;
}

.searchContainer {
    padding-bottom: 50px;
}

h1 {
    background: url(../img/baptist-health-logo.jpg) center center no-repeat;
    display: block;
    width: 298px;
    height: 110px;
    text-indent: -9999px;
    margin: 10px 0 0 0;
}

.bodyContent {
    padding: 25px;
    background-color: #fff;
}

h2 {
    color: #fff;
    font-size: 20px;
    padding: 8px 15px;
    display: block;
    background-color: #0157ab;
}

h3 {
    color: #575757;
    font-size: 18px;
    margin: 25px 0 10px 0;
    display: block;
    font-weight: bold;
}

.content {
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    display: block;
    margin: 0;
}

    .content h3 {
        margin: 0;
        color: #0157ab;
    }

    .content p:first-of-type {
        margin-top: 10px;
    }

.contentImage {
    width: 100%;
    margin-top: 0;
    min-height: 250px;
    display: block;
    background: url(../img/physicians-home.jpg) center center no-repeat;
    background-size: cover;
    text-indent: -9999px;
    margin: 0 0 10px 0;
}

@media only screen and (min-width: 768px) {
    .content {
        width: 48%;
        float: left;
    }

    .contentImage {
        width: 48%;
        float: right;
        margin: 35px 0 0 0;
        min-height: 310px;
    }
}

.content p {
    color: #575757;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 20px 0;
}

.searchContent {
    width: 100%;
    display: block;
    margin: 0;
}

.searchOptions {
    background-color: #f1f1f1;
    padding: 20px 5%;
    overflow: auto;
}

    .searchOptions .advancedContainer {
        text-align: center;
        margin: 15px auto;
        width: 100%;
        background: url(../img/advanced-search-bg.png) center center repeat-x;
    }

    .searchOptions strong {
        font-weight: bold;
        font-size: 13px;
        color: #a5b0b9;
        display: block;
    }

    .searchOptions input {
        font-size: 13px;
        color: #474f54;
    }

        .searchOptions input[type="text"] {
            border: 1px solid #c9d2da;
            padding: 3px;
        }

    .searchOptions label {
        font-size: 13px;
        color: #474f54;
        font-weight: bold;
    }

    .searchOptions .docSpecialtyFields, .searchOptions .docLanguageFields {
        border: 2px solid #ccc;
        /*width: 90%;*/
        padding: 10px 5%;
        height: 150px;
        overflow-y: scroll;
        background-color: #fff;
        border: 1px solid #c9d2da;
        display: block;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
    }

        .searchOptions .docSpecialtyFields label.stdLabel, .searchOptions .docLanguageFields label.stdLabel {
            font-size: 13px;
            color: #818e9a;
            clear: right;
            float: left;
        }

        .searchOptions .docSpecialtyFields input, .searchOptions .docLanguageFields input {
            font-size: 13px;
            color: #a5b0b9;
            clear: left;
            background-color: #fff;
            border: 1px solid #c9d2da;
            display: block;
            float: left;
            /*margin: 0 8px 10px 0;*/
            margin: 0 8px -1px 0;
        }

    .searchOptions strong.genderTitle {
        float: left;
        margin: 0 10px 0 0;
    }

    .searchOptions label[for="maleGender"] {
        margin: 0 7px 0 0;
    }

    .searchOptions .zipContainer {
        width: 40%;
        display: block;
        float: left;
        border-right: 1px solid #c9d2da;
    }

    .searchOptions input[name="zipCode"] {
        width: 80%;
        display: block;
    }

    .searchOptions .searchWithinContainer {
        width: 40%;
        display: block;
        float: left;
        /*padding: 0 0 0 20px;*/
        margin: 0 0 0 5px;
        font-size: 13px;
    }

        .searchOptions .searchWithinContainer strong {
            display: block;
            float: left; /*margin: 5px 0 0 6px;*/
        }

    .searchOptions input[name="searchWithin"] {
        width: 40%;
        display: block;
        float: left;
    }

input[type="checkbox"] {
    padding: 0;
    border: none;
}

input[name="doctorsName"] {
    width: 97.5%;
}

.searchControls .findPhysicianSubmit {
    padding: 10px 0;
    text-align: center;
    display: block;
    width: 99.85%;
    background-color: #22609c;
    border: 1px solid #003b62;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
    font-size: 13px;
}

.searchControls .resetFilterSubmit, #btnStopSearch {
    padding: 10px 0;
    text-align: center;
    display: block;
    width: 99.85%;
    background-color: darkorange;
    border: 1px solid #000000;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
    font-size: 13px;
}

.hospitalFilter {
    display: inline-block;
    margin-right: 10px;
    font-family: Arial !important;
    color: #0157ab;
    font-size: 13px;
    padding: 3px
}

    .hospitalFilter label {
        margin: 0 0 3px 3px;
        font-weight: bold;
        font-size: 13px;
        color: #0157ab;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        cursor: pointer;
        position: relative;
        bottom: 2px;
    }

        .hospitalFilter label:hover {
            background-color: #eff3f7;
        }

        .hospitalFilter label:checked {
            background-color: #d8dee4;
        }

@media only screen and (max-width: 1100px) {
    .headerDefault, .bodyContent, .searchContainer {
        width: 98%;
        padding: 0 1%;
    }
}

.clinicalstaff {
    width: 200px;
    padding: 10px;
    border: 5px solid lightgray;
    margin: auto;
    margin-top: 15px;
}

    .clinicalstaff p {
        color: #575757;
        font-size: 13px;
        line-height: 22px;
        margin: 0 0 20px 0;
    }

    .clinicalstaff p:last-child {
        margin-bottom: 0px;
    }

/*Profile Page CSS*/

.privPortal {
    font-weight: bolder !important;
    font-style: italic !important;
    text-decoration: underline !important;
}

.genderLabel {
    margin-left: 3px;
}

.updateBG {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: WhiteSmoke;
    filter: alpha(opacity=40);
    opacity: 0.40;
    z-index: 1000;
}



.searchResults {
    width: 100%;
    min-width: 300px;
    margin-top: 30px;
}

.searchResultItem {
    width: 740px;
}

.searchResult1, .searchResult2, .searchResult3, .searchResult4,
.searchResult4 .gender, .searchResult4 .languages,
.searchResult4 .view-profiles {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}

.view-profiles a {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.searchResult1, .searchResult2, .searchResult3, .searchResult4 {
    display: block;
    float: left;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0px;
}

    .searchResult2 span {
        margin-top: 10px;
    }

.searchResultItem .searchResult3 span {
    margin-top: 10px;
    display: block;
}


.searchResultItem .searchResult3 {
    line-height: 16px;
    font-size: 12px;
    color: #525252;
}

.searchResultItem .searchResult4 {
    padding-right: 3.67%;
    line-height: 16px;
    font-size: 12px;
    color: #525252;
}

.searchResultsList {
    display: block;
    border-top: 1px solid #c9d0d6;
    border-left: 1px solid #c9d0d6;
    border-right: 1px solid #c9d0d6;
    margin: 10px 0 0 0;
}

.searchResultItem {
    border-bottom: 1px solid #c9d0d6;
}

    .searchResultItem .searchResult1 strong {
        color: #fff;
        background-color: #22609c;
        border: 1px solid #003b62;
        padding: 2px 4px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
    }

    .searchResultItem .searchResult2 h5 {
        font-size: 15.75px;
        color: #0f354f;
        margin: 0 0 5px 0;
    }

    .searchResultItem .searchResult2 h6 {
        font-size: 13px;
        color: #22609c;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .searchResultItem .searchResult3 strong {
        width: 37.35%;
        font-weight: bold;
    }

    .searchResultItem .searchResult4 strong {
        font-weight: bold;
    }

    .searchResultItem .searchResult4 a {
        text-decoration: none;
        color: #0157ab;
        padding: 5px 20px;
        background-color: #e0e3e6;
        border: 1px solid #afb8bf;
        margin-top: 25px;
        display: block;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
    }

        .searchResultItem .searchResult4 a:hover {
            background-color: #bec6cc;
            border: 1px solid #9ba6ae;
        }

.searchControls {
    width: 300px;
    min-width: 300px;
    margin: auto;
}

.searchResultsGap {
    display: none;
}

#profileLink {
    display: inline-block;
    cursor: pointer;
}

#fullProfileLink {
    display: none;
    cursor: pointer;
    width: auto;
}

.searchResult2 span {
    margin-top: 0px;
}

.searchResultsFeatures {
    display: block;
    color: #758592;
    background-color: #c9d0d6;
    padding: 7px;
    font-weight: bold;
    font-size: 12px;
}

    .searchResultsFeatures .resultsValues, .searchResultsFeatures .resultsPerPage {
        padding: 0 1% 0 0;
        margin: 0 1% 0 0;
    }

    .searchResultsFeatures .resultsSortBy {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 15px;
    }

    .searchResultsFeatures .resultsValues, .searchResultsFeatures .resultsPerPage {
        width: 100%;
        display: block;
        text-align: center;
    }

    .searchResultsFeatures .resultsPerPage {
        margin-top: 15px;
    }

    .searchResultsFeatures .resultsPageNumber {
        display: block;
        float: right;
        padding: 1px 0;
        width: 100%;
        margin-top: 15px;
    }


        .searchResultsFeatures .resultsPageNumber table {
            margin: auto;
        }

        .searchResultsFeatures .resultsPageNumber a {
            padding: 4px 5px;
            text-decoration: none;
            color: #758592;
            -webkit-transition: 0.2s ease-out;
            -moz-transition: 0.2s ease-out;
            -o-transition: 0.2s ease-out;
        }

            .searchResultsFeatures .resultsPageNumber a.currentPage {
                border-bottom: 2px solid #22609C;
            }

            .searchResultsFeatures .resultsPageNumber a:hover {
                background-color: #e7ebef;
            }

            .searchResultsFeatures .resultsPageNumber a.selected {
                background-color: #ffffff;
            }

            .searchResultsFeatures .resultsPageNumber a.prev, .searchResultsFeatures .resultsPageNumber a.next {
                text-indent: -9999px;
                display: inline-block;
                zoom: 1;
                *display: inline;
                background-position: center center;
                background-repeat: no-repeat;
                height: 13px;
                width: 13px;
                margin: 0 3px;
                padding: 0;
            }

            .searchResultsFeatures .resultsPageNumber a.prev {
                background-image: url(../img/prev-button.png);
            }

            .searchResultsFeatures .resultsPageNumber a.next {
                background-image: url(../img/next-button.png);
                float: right;
            }


/*************************
    RESPONSIVE CHANGES
**************************/
@media only screen and (min-width: 576px) {
    .searchResult1, .searchResult2, .searchResult3, .searchResult4 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .searchResult2, .searchResult3 {
        width: 100%;
        margin-bottom: 0;
        text-align: left;
    }

    .searchResultItem .searchResult3 span {
        margin-top: 35px;
        display: block;
    }

    .searchResult4 .gender, .searchResult4 .languages {
        text-align: right;
    }

    .searchResultItem .searchResult1, .searchResultItem .searchResult2, .searchResultItem .searchResult3, .searchResultItem .searchResult4 {
        margin: 0;
    }

    .searchResultItem .searchResult1 {
        width: 7.21%;
    }

    .searchResultItem .searchResult2 {
        width: 34.08%;
    }

        .searchResultItem .searchResult2 span {
            margin-top: 35px;
            display: block;
            font-size: 14px;
        }

    .searchResultItem .searchResult3 {
        width: 37.35%;
    }

    .searchResultItem .searchResult4 {
        width: 17.69%;
        text-align: right;
    }

    #profileLink {
        display: inline-block;
        cursor: pointer;
        width: 50px;
    }

    #fullProfileLink {
        display: none;
        cursor: pointer;
    }
}


@media only screen and (min-width: 992px) {
    .searchContent {
        display: table;
    }

    .searchControls {
        display: table-cell;
        width: 300px;
        margin: 0;
        padding-right: 20px;
    }

    .searchResultsGap {
        display: table-cell;
        width: 20px;
        min-width: 20px;
        max-width: 20px;
    }

    .searchResults {
        display: table-cell;
        margin: 0;
    }

    #profileLink {
        display: none;
    }

    #fullProfileLink {
        display: inline-block;
        width: auto;
    }
}


@media only screen and (min-width: 768px) {

    .searchResultsFeatures .resultsSortBy {
        width: auto;
        display: inline-block;
        text-align: left;
        margin-top: 0;
    }

    .searchResultsFeatures .resultsPageNumber {
        float: right;
        width: auto;
        margin-top: 0px;
    }

    .searchResultsFeatures .resultsValues, .searchResultsFeatures .resultsPerPage {
        width: auto;
        display: inline-block;
        text-align: left;
        margin-top: 0;
        border-right: 1px solid #758592;
    }

    .searchResultsFeatures .resultsPageNumber table {
        margin: auto;
    }
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
