﻿.profile {
    display: table;
    width: 100%;
    min-width: 300px;
    white-space: nowrap;
    border: 1px solid #0157AB;
    border-radius: 10px;
    font-size: 12px;
    line-height: 130%;
}
.photo {
    width: 50%;
    float: left;
    margin-right: 10px;
    width: 150px;

}
.photo img {
    width: 150px;
    border-radius: 10px;
}

.profile .providerName {
    font-size: 16px;
    font-weight: bold;
    color:#0157AB;
    margin-bottom: 10px;
}
.profile .bppLogo  {
    margin-bottom: 15px;
}
.profile label {
    font-weight: bold;
    color: #0157AB;
}
.profile .overview {
    display: block;
    padding: 15px;
    overflow: visible;
    white-space: normal;
}
.profile .contact {
    margin-top: 15px;
    overflow: auto;
    padding-right: 10px;
}
.profile .contactDetails {
    margin-left: 160px;
}
.profile .contact .practice {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom:5px;
}
.profile .contact .numbers {
    margin-top: 10px;
}
.profile .mapOuter {
    display: block;
    width: 100%;
    text-align: center;
}
.profile .mapInner {
    padding: 15px;
    /*border-top: 2px solid #0157AB;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.profile .map {
    width: 100%;
    margin: auto;
    height: 300px;
}

@media only screen and (min-width: 768px) {
    .profile .overview {
        width: 50%;
        display: table-cell;
        vertical-align: top;
    }
    .profile .mapOuter {
        display: table-cell;
        width: 101%;
        vertical-align: top;
        text-align: right;
        width: 50%;
    }
    .profile .mapInner {
        border-top: none;
        /*border-left: 2px solid #0157AB;*/
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .profile .map {
        height: 320px;
    }
}


/*
    PROFILE TABS
*/
.tabContainer {
    border: 1px solid #0157AB;
    border-radius: 6px;
    margin-top: 20px;
    z-index: 1000;
}
.tabs-nav {
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    width: 100%; /* [3] */
    margin: 0;
    padding: 0;
}
.tabs-nav, tabs-nav > li {
    background: hsla(0, 0%, 0%, 0);
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    font: 13px/20px "Droid Sans", Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
    text-shadow: 0 1px 0 hsl(0, 100%, 100%);
}
.tabs-nav > li {
    display: table-cell;
    text-align: -webkit-match-parent;
}

.tabs-nav a {
    width: 100%;
    color: #505050;
    border-left: 1px solid #0157AB;
    border-bottom: 1px solid #0157AB;
    border-right: none;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 40px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.tabs-nav a:hover {
    color: #0157AB;
}
.tabs-nav a:focus {
    outline: none;
}
.tabs-nav li:first-child a {
    border-left:0;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
}
tabs-nav li:last-child a {
    border-right: 0;
    z-index:0;
}
.tabs-nav li {
    background-color: #EEEEEE;
}
.tabs-nav li.tab-active {
    background-color: transparent;
}
.tabs-nav li:first-child {
    -moz-border-radius-topLeft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
}
.tabs-nav li:last-child {
    -moz-border-radius-topRight: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}
.tabs-nav .tab-active a {
    color: #0157AB;
    cursor: default;
    border-bottom:none;
}
.tabs-stage {
    border-top:none;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    clear: both;
    margin-bottom: 20px;
    position: relative;
    top: -1px;
    font-size:12px;
}
.tabs-stage > div {
    padding: 30px;
    min-height: 100px;
}


/**********************
PROFILE TABS CONTENT
**********************/
/*X-Small*/
div.column-layout {
    column-count: 1;
    column-gap: 25px;
}
/*Small to Medium*/
@media only screen and (min-width: 576px /*768px*/) {
    div.column-layout {
        column-count: 2;
    }
}
/*Large*/
@media only screen and (min-width: 992px) {
    div.column-layout {
        column-count: 3;
    }
}
/*X-Large*/
@media only screen and (min-width: 1200px) {
    div.column-layout {
        column-count: 4;
    }
    div.column-layout.max-3 {
        column-count: 3;
    }
}

div.profileList h4 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #0157AB;
}

div.column-layout > div.profileList {
    display: block;
    margin-right: 15px;
    margin-bottom: 20px;

    /*Prevent addresses from breaking to next column*/
    overflow: hidden; /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}

div.profileList > ul {
    list-style: none; /* Remove default bullets */
    padding-left: 15px;
    margin-bottom: 0;
}

div.profileList > ul > li {
line-height: 16px;
margin-bottom: 5px;
}

div.profileList > ul > li::before {
    content: "\2022"; /*unicode code for bullet*/
    color: #0157AB;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

div.profileList > div.column-layout > div {
    margin-bottom: 10px;
    border-left: 2px solid #ccc;
    padding-left: 15px;
    margin-right: 15px;
    line-height: 16px;

    /*Prevent addresses from breaking to next column*/
    overflow: hidden; /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}

span.no-data {
    color: #ccc;
    font-style:italic;
}

.backLink {
    color: #0157AB;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .backLink a {
        color: #0157AB;
    }